<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <header>
        <div class="logo-header">
            <h2>station</h2>
            <p>perfomance anywhere</p>
        </div>
        <div class="header-meio"></div>
        <div class="header-menu">
            <fa-icon class="menu" [icon]="menuicon"></fa-icon>
        </div>
    </header>
    <main>

        <section id="container-esquerdo">
            <div class="menu-lateral">
                <div class="menu-icons">
                    <div class="icones-lateral-hover">
                        <fa-icon class="icones-lateral" [icon]="grip"></fa-icon>
                    </div>
                    <div class="icones-lateral-hover">
                        <fa-icon class="icones-lateral" [icon]="grupo"></fa-icon>
                    </div>
                    <div class="icones-lateral-hover">
                        <fa-icon class="icones-lateral" [icon]="edificio"></fa-icon>
                    </div>
                    <div class="icones-lateral-hover">
                        <fa-icon class="icones-lateral" [icon]="user"></fa-icon>
                    </div>
                    <div class="icones-lateral-hover">
                        <fa-icon class="icones-lateral-grupo" [icon]="grupo"></fa-icon>
                    </div>
                    <div class="icones-lateral-hover">
                        <fa-icon class="icones-lateral" [icon]="relogio"></fa-icon>
                    </div>
                    <div class="icones-lateral-hover">
                        <fa-icon class="icones-lateral" [icon]="pointer"></fa-icon>
                    </div>
                </div>
            </div>
            <div class="usuarios-lateral">
                <div class="coordenador">
                    <img src="../../assets/NICK.jpeg" alt="">
                    <p>Nick Fury</p>
                    <span>Coordenador</span>
                </div>
                <div class="supervisor">
                    <img class="teste" src="../../assets/CAPITAO.jpeg" alt="">
                    <div class="supervisor-nome">
                        <p>Steve Roger</p>
                        <span>Supervisor</span>
                    </div>
                </div>
                <div class="supervisor">
                    <img src="../../assets/buck.jpeg" alt="">
                    <div class="supervisor-nome">
                        <p>Bucky Barnes</p>
                        <span>Supervisor</span>
                    </div>
                </div>
                <div class="supervisor">
                    <img src="../../assets/ant-man.jpeg" alt="">
                    <div class="supervisor-nome">
                        <p>Scott Lang</p>
                        <span>Supervisor</span>
                    </div>
                </div>
                <div class="supervisor">
                    <img src="../../assets/CAPITAO.jpeg" alt="">
                    <div class="supervisor-nome">
                        <p>Clint Barton</p>
                        <span>Supervisor</span>
                    </div>
                </div>
                <div class="supervisor-opaco">
                    <img src="../../assets/wanda.jpeg" alt="">
                    <div class="supervisor-nome">
                        <p>Wanda Maximoff</p>
                        <span>Supervisor</span>
                    </div>
                </div>
                <div class="supervisor-opaco">
                    <img src="../../assets/tony.jpeg" alt="">
                    <div class="supervisor-nome">
                        <p>Tony Stark</p>
                        <span>Supervisor</span>
                    </div>
                </div>
                <div class="usuarios-lateral-container">
                </div>
            </div>
        </section>
        <section id="container-direito">
            <div class="top">
                <div class="top-logo">
                    <img src="../../assets/coca-cola-logo.png" alt="">
                    <p>O time agora</p>
                </div>
                <div class="container-dados">
                    <div class="container-dados-top">
                        <fa-icon class="wifi" [icon]="wifi"></fa-icon>
                        <p>13</p><span>pessoas estão com problemas de conexão</span>
                    </div>
                    <div class="container-dados-down">
                        <div class="container-dados-1">
                            <div class="circulo-vermelho"></div>
                            <p>&lt; 80% </p>
                        </div>
                        <div class="container-dados-2">
                            <p>&gt;=80% </p>
                            <div class="circulo-amarelo"></div>
                            <p>&lt;=90% </p>
                        </div>
                        <div class="container-dados-3">
                            <div class="circulo-verde"></div>
                            <p>&gt;91% </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-central">
                <div class="container-central-top"></div>
                <div class="container-central-down"></div>
            </div>
        </section>
    </main>
</body>

</html>